**PROBLEM 2**

In [1]:
import pandas as pd
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings("ignore")

In [2]:
defdata_df = pd.read_csv("/mnt/c/Users/pooja/Downloads/Default.csv")

In [3]:
defdata_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  10000 non-null  int64
 1   default     10000 non-null  object
 2   student     10000 non-null  object
 3   balance     10000 non-null  float64
 4   income      10000 non-null  float64
dtypes: float64(2), int64(1), object(2)
memory usage: 390.8+ KB

There are 10000 datapoints. There are 5 features. No missing or null values. There are 2 categorical variables and the other three have 2 float64 and one int64 values.

In [4]:
defdata_df.head()

   Unnamed: 0 default student      balance        income
0           1      No      No   729.526495  44361.625074
1           2      No     Yes   817.180407  12106.134700
2           3      No      No  1073.549164  31767.138947
3           4      No      No   529.250605  35704.493935
4           5      No      No   785.655883  38463.495879

In [5]:
defdata_df.describe()

        Unnamed: 0       balance        income
count  10000.00000  10000.000000  10000.000000
mean    5000.50000    835.374886  33516.981876
std     2886.89568    483.714985  13336.639563
min        1.00000      0.000000    771.967729
25%     2500.75000    481.731105  21340.462903
50%     5000.50000    823.636973  34552.644802
75%     7500.25000   1166.308386  43807.729272
max    10000.00000   2654.322576  73554.233495

From .describe function we see that there are a total of 10000 in the non-categorical values.

In [6]:
defdata_df['default']= pd.Categorical(defdata_df['default'],['Yes','No'])
defdata_df['default']= defdata_df['default'].cat.codes
print(defdata_df)

      Unnamed: 0  default student      balance        income
0              1        1      No   729.526495  44361.625074
1              2        1     Yes   817.180407  12106.134700
2              3        1      No  1073.549164  31767.138947
3              4        1      No   529.250605  35704.493935
4              5        1      No   785.655883  38463.495879
...          ...      ...     ...          ...           ...
9995        9996        1      No   711.555020  52992.378914
9996        9997        1      No   757.962918  19660.721768
9997        9998        1      No   845.411989  58636.156984
9998        9999        1      No  1569.009053  36669.112365
9999       10000        1     Yes   200.922183  16862.952321

[10000 rows x 5 columns]

In [7]:
defdata_df['default'].value_counts()

1    9667
0     333
Name: default, dtype: int64

In [8]:
y = defdata_df['default']

In [9]:
X = defdata_df.drop(["Unnamed: 0", "default", "student"], axis = 1)

**(i) Validation Set**

In [10]:
import sklearn.linear_model as skl_lm
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split

In [11]:
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=1)

In [12]:
clf = LogisticRegression(random_state=42)
clf.fit(X_train, y_train)
# predictions = clf.predict(X_test)

LogisticRegression(random_state=42)

In [13]:
from sklearn.metrics import accuracy_score

y_pred = clf.predict(X_val)
accuracy_score(y_val, y_pred, normalize=True)

0.9705

In [14]:
acc = accuracy_score(y_val, y_pred, normalize=True)
misclass_err = 1 - acc
print("Misclassification error:", misclass_err)

Misclassification error: 0.02949999999999997

**(ii) LOOCV**

In [15]:
from sklearn.model_selection import LeaveOneOut, cross_val_score

In [16]:
loocv = LeaveOneOut()
loocv.get_n_splits(defdata_df)

10000

In [17]:
acc = cross_val_score(clf, X, y, cv = loocv, scoring='accuracy')
acc.mean()

0.9737

In [18]:
misclass_err = 1 - acc
print("Misclassification error:", misclass_err)

Misclassification error: [0. 0. 0. ... 0. 0. 0.]

**(iii) K-fold cross validation**

In [19]:
from sklearn.model_selection import KFold, cross_val_score

In [20]:
kf = KFold(n_splits=5,random_state=1,shuffle=True)

In [21]:
acc = cross_val_score(clf, X, y, cv = kf, scoring='accuracy')
acc.mean()

0.9706000000000001

In [22]:
misclass_err = 1 - acc
print("Misclassification error:", misclass_err)

Misclassification error: [0.0295 0.024  0.0285 0.0275 0.0375]

**Using 3 different splits for (i) and (iii)**

(i)

In [23]:
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.3, random_state=1)

In [24]:
clf.fit(X_train, y_train)

LogisticRegression(random_state=42)

In [25]:
y_pred = clf.predict(X_val)
accuracy_score(y_val, y_pred, normalize=True)

0.9753333333333334

In [26]:
acc = accuracy_score(y_val, y_pred, normalize=True)
misclass_err = 1 - acc
print("Misclassification error:", misclass_err)

Misclassification error: 0.024666666666666615

In [27]:
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.5, random_state=1)

In [28]:
clf.fit(X_train, y_train)

LogisticRegression(random_state=42)

In [29]:
y_pred = clf.predict(X_val)
accuracy_score(y_val, y_pred, normalize=True)

0.9678

In [30]:
acc = accuracy_score(y_val, y_pred, normalize=True)
misclass_err = 1 - acc
print("Misclassification error:", misclass_err)

Misclassification error: 0.032200000000000006

**OBSERVATION:**

The accuracy of the model is the highest when the split is 70-30 and the lowest when the dataset is split halfway.

(iii)

In [31]:
kf = KFold(n_splits=10,random_state=1,shuffle=True)

In [32]:
acc = cross_val_score(clf, X, y, cv = kf, scoring='accuracy')
acc.mean()

0.9697000000000001

In [33]:
misclass_err = 1 - acc
print("Misclassification error:", misclass_err)

Misclassification error: [0.03  0.026 0.02  0.032 0.037 0.036 0.026 0.034 0.039 0.023]

In [34]:
kf = KFold(n_splits=20,random_state=1,shuffle=True)

In [35]:
acc = cross_val_score(clf, X, y, cv = kf, scoring='accuracy')
acc.mean()

0.9719000000000001

In [36]:
misclass_err = 1 - acc
print("Misclassification error:", misclass_err)

Misclassification error: [0.028 0.03  0.028 0.02  0.022 0.016 0.034 0.026 0.028 0.022 0.032 0.032
 0.02  0.026 0.04  0.038 0.022 0.04  0.028 0.03 ]

**OBSERVATION:**

For this dataset, the 20-fold split has the best accuracy and the 10-fold split has the least accuracy.

Overall, validation set approach with 70-30 split has the best accuracy for this dataset. LOOCV also has a high accuracy. But the computation time for LOOCV is the largest.